.header {
  text-align: center;
  padding: 8em 4em;
  background-color: var(--primary-color);
  position: relative;
}

.header-logo {
  width: 50%;
}

.header-motto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin: 2em 0;
}

.header-motto > p {
  color: var(--white-color);
  font-size: 1.5em;
  font-weight: bold;
}

.header-try-button {
  padding: 1em;
  width: 50%;
  border: none;
  border-radius: 1em;
  color: var(--primary-color);
  background-color: var(--white-color);
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  left: calc(50% - 25%);
  cursor: pointer;
}


@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 3em;
  }

  .header-logo {
    width: 16em;
  }

  .header-motto {
    align-items: flex-start;
  }

  .header-try-button {
    width: auto;
    position: static;
  }
}
