.header {
  display: flex;
  align-items: center;
  gap: 10px;


  h1, h2 {
    margin: 0;
    padding: 0;
    color: #4b5563;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
    margin-bottom: 10px;
  }

  &__link {
    color: #4b5563;
    cursor: pointer;
    margin-bottom: 10px;
  }

  &__hidden {
    display: none;
  }
}
