<nav class="nav" [ngClass]="navClass">
  <h1 class="nav-title">{{navTitle}}</h1>
  <div class="nav-hamburger">
    <div class="nav-hamburger-line nav-hamburger-line-top"></div>
    <div class="nav-hamburger-line nav-hamburger-line-middle"></div>
    <div class="nav-hamburger-line nav-hamburger-line-bottom"></div>
  </div>
  <div class="nav-menu">
    <ol class="nav-menu-list" *ngFor="let navListItem of navListItems">
      <li class="nav-list-item">
        <a [routerLink]="navListItem.link">{{navListItem.label}}</a>
      </li>
      <ul class="nav-menu-list" *ngFor="let child of navListItem.children">
        <li class="nav-list-item">
          <a [routerLink]="child.link">{{child.label}}</a>
        </li>
      </ul>
    </ol>
  </div>
</nav>
