/* top-nav mobile */
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--top-nav);
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
}

.top-nav > .nav-title {
  color: var(--white-color);
  letter-spacing: 1px;
  padding: 0.5em;
}

.top-nav > .nav-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: var(--top-nav);
  height: var(--top-nav);
  padding: 0.5em;
}

.top-nav > .nav-hamburger > .nav-hamburger-line {
  height: 0.4em;
  border-radius: 2px;
  background-color: var(--white-color);
  transition: transform var(--animation-speed) ease-in-out;
}

.top-nav .top-nav-open > .nav-hamburger-line-top {
  transform: translateY(1em) rotate(45deg);
}

.top-nav .top-nav-open > .nav-hamburger-line-middle {
  transform: translateX(100vh);
}

.top-nav .top-nav-open > .nav-hamburger-line-bottom {
  transform: translateY(-1em) rotate(-45deg);
}

.top-nav > .nav-menu {
  position: fixed;
  top: var(--top-nav);
  width: 100%;
  height: calc(100vh - var(--top-nav));
  background-color: var(--primary-color);
  transition: transform var(--animation-speed) ease-in-out;
}

.top-nav .nav-menu-hide {
  transform: translateX(-100%);
}

.top-nav .nav-menu-list {
  background-color: var(--primary-dark-color);
}

.top-nav .nav-menu-list > .nav-list-item > a {
  display: block;
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid var(--primary-darker-color);
  text-decoration: none;
  color: var(--white-color);
  letter-spacing: 1px;
}

/* top-nav tablet */
@media only screen and (min-width: 768px) {
  .top-nav > .nav-hamburger {
    display: none;
  }

  .top-nav > .nav-menu {
    position: static;
    top: 0;
    width: auto;
    height: auto;
    background-color: var(--primary-color);
    transition: none;
    display: flex;
    align-items: center;
    padding-right: 0.5em;
  }

  .top-nav .nav-menu-hide {
    transform: translateX(0);
  }

  .top-nav .nav-menu-list {
    background-color: transparent;
  }

  .top-nav .nav-menu-list > .nav-list-item > a {
    border-bottom: none;
    border-radius: 5px;
    transition: background-color var(--animation-speed) ease-in-out;
  }

  .top-nav .nav-menu-list > .nav-list-item > a:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
}

/* top-nav pc */
@media only screen and (min-width: 1024px) {
  .top-nav {
    justify-content: space-around;
  }
}

/* docs-nav mobile */
.docs-nav {
  /*background-color: var(--white-color);*/
  padding: 1em;
  height: 100%;
}

.docs-nav > .nav-title {
  color: var(--primary-color);
  letter-spacing: 1px;
  font-weight: normal;
  margin-bottom: 0.5em;
}

.docs-nav > .nav-hamburger {
  display: none;
}

.docs-nav ol > .nav-list-item > a,
.docs-nav ul > .nav-list-item > a {
  display: inline-block;
  text-decoration: none;
  color: var(--grey-color);
}

.docs-nav ol > .nav-list-item > a {
  font-weight: bold;
  margin: 0.25em 0.25em;
}

.docs-nav ul > .nav-list-item > a {
  margin: 0.25em 1em;
}
