<nav class="nav">
  <h1 class="nav-title">{{navTitle}}</h1>
  <div class="nav-hamburger">
    <div class="nav-hamburger-line nav-hamburger-line-top"></div>
    <div class="nav-hamburger-line nav-hamburger-line-middle"></div>
    <div class="nav-hamburger-line nav-hamburger-line-bottom"></div>
  </div>
  <div class="nav-menu">
    <ul class="nav-menu-list">
      <li *ngFor="let navListItem of navListItems" class="nav-list-item">
        <a [routerLink]="navListItem.link">{{navListItem.label}}</a>
      </li>
    </ul>
  </div>
</nav>
