/* Mobile */
.team-container {
  background-color: var(--white-darker-color);
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 5em 2em;
}

.team-title {
  font-size: 2em;
  color: var(--grey-light-color);
}

.team-people {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.team-person {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.team-person > img {
  width: 100%;
  border-radius: 5px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .team-people {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .team-person {
    width: 40%;
  }
}

/* Pc */
@media only screen and (min-width: 1024px) {
  .team-person {
    width: 30%;
  }

  .team-people {
    width: 720px;
  }
}
