<p-table [value]="value" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '100%' }">
  <ng-template pTemplate="header">
    <tr>
      <th class="column-center">Argument</th>
      <th class="column-center">Alias</th>
      <th>Description</th>
      <th class="column-center">Required</th>
      <th class="column-center">Value</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-value>
    <tr>
      <td class="column-center">{{ value['argument'] }}</td>
      <td class="column-center">{{ value['alias'] }}</td>
      <td>{{ value['description'] }}</td>
      <td class="column-center">
        <i class="pi pi-check" style="font-size: 1rem;"></i>
      </td>
      <td class="column-center">{{ value['value'] }}</td>
    </tr>
  </ng-template>
</p-table>
