.main-features {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 4em 2em;
  text-align: center;
  background-color: var(--white-color);
}

.main-features-title {
  margin-bottom: 2em;
  color: var(--black-color);
}

.main-features-content {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.main-feature-title {
  color: var(--primary-color);
}

.main-feature-icon {
  font-size: 6em;
  margin: 0.2em;
  color: var(--primary-color);
}

.main-feature-description {
  color: var(--gray-color);
}

@media only screen and (min-width: 768px) {
  .main-features-content {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .main-features {
    align-items: center;
    justify-content: center;
  }

  .main-features-content {
    width: 960px;
  }
}
