/* Mobile */
.about-container {
  background-color: var(--white-color);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 5em 2em;
}

.about-title {
  font-size: 2em;
  color: var(--grey-light-color);
}

.about-description {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
}

.about-description-paragraph {
  color: var(--grey-color);
  line-height: 2em;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Pc */
@media only screen and (min-width: 1024px) {
  .about {
    width: 960px;
  }
}
