/* Mobile */
.main-features-container {
  background-color: var(--white-color);
}

.main-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  padding: 5em 2em;
}

.main-features-title {
  font-size: 2em;
  color: var(--primary-color);
}

.main-features-items {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.main-feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  gap: 0.5em;
}

.main-feature-item-title {
  color: var(--primary-color);
}

.main-feature-item-icon {
  font-size: 3em;
  color: var(--primary-dark-color);
}

.main-feature-item-description {
    line-height: 2;
    color: var(--primary-color);
    text-align: center;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .main-features-items {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Pc */
@media only screen and (min-width: 1024px) {
  .main-features {
    align-items: center;
    justify-content: center;
  }

  .main-features-items {
    width: 960px;
    justify-content: center;
  }
}
