

main {
    padding-top: var(--top-nav-height);
}

/* top nav */

/* documentation */
.documentation-nav {
    position: fixed;
    top: var(--top-nav-height);
    width: 100%;
    height: var(--top-nav-height);
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
}

.documentation-nav .hamburger-line {
    background-color: var(--primary-color);
}

.documentation-title {
    color: var(--primary-color);
    margin: 0.5em;
}

.documentation-nav-menu {
    position: fixed;
    top: calc(2 * var(--top-nav-height));
    width: 100%;
    height: calc(100vh - 2 * var(--top-nav-height));
    background-color: var(--secondary-color);
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform var(--animation-speed) ease-in-out;
}

.hamburger-open .documentation-nav-menu {
    transform: translateX(0);
}

.documentation-nav-menu a {
    display: block;
    padding: 0.9em;
    color: var(--black-font-color);
    border-bottom: 1px solid var(--primary-color25);
}

.documentation-nav-menu ul > li > a::before {
    content: "";
    margin-left: 1em;
}

.documentation-content {
    margin-top: var(--top-nav-height);
}

.documentation-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    color: var(--primary-color);
}

.documentation-content-wrapper h1 {
    font-size: 1.5em;
}

.documentation-content-wrapper p {
    line-height: 1.75;
    color: var(--black-font-color);
}

.documentation-content-wrapper h2 {
    font-size: 1.25em;
}

.documentation-content-wrapper code {
    margin: 1em 0;
    padding: 2em;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    white-space: nowrap;
    overflow-x: auto;
    border-radius: 0.5em;
}

.documentation-content-wrapper ul {
    margin: 1em 0;
    padding-left: 1.5em;
    list-style-type: disc;
}

.documentation-content-wrapper li {
    padding: 0.3em;
    color: var(--black-font-color);
}

.documentation-content-wrapper table {
    margin: 1em 0;
    border-collapse: collapse;
    color: var(--black-font-color);
    border-radius: 0.5em;
    overflow: hidden;
    border: 1px solid var(--black-font-color25);
}

.documentation-content-wrapper th,
.documentation-content-wrapper td {
    padding: 0.75em;
}

.documentation-content-wrapper th,
.documentation-content-wrapper td {
    background-color: var(--secondary-color);
    color: var(--black-font-color);
    border: 1px solid var(--black-font-color25);
}

.documentation-content-wrapper hr {
    margin: 1em 0;
    border-color: var(--primary-color25);
}

@media only screen and (min-width: 768px) {
    .documentation-nav,
    .documentation-nav-menu {
        width: 300px;
    }

    .documentation-nav-menu {
        transform: translateX(0%);
        transition: none;
    }

    .documentation-content {
        margin-left: 300px;
        margin-top: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .documentation-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 1320px) {
    .documentation-content-wrapper {
        width: 960px;
    }
}
