<nav class="top-nav" [ngClass]="{'hamburger-open': menuIsOpen}">
  <a routerLink="/home">
    <img src="assets/images/repox-logo-small.png" alt="Repox small logo" class="top-nav-logo">
  </a>
  <div class="hamburger" (click)="toggleMenu()">
    <div class="hamburger-line hamburger-line-top"></div>
    <div class="hamburger-line hamburger-line-middle"></div>
    <div class="hamburger-line hamburger-line-bottom"></div>
  </div>
  <ol class="top-nav-menu">
    <li *ngFor="let link of links;">
      <a class="top-nav-menu-link" [routerLink]="link.href">{{link.name}}</a>
    </li>
  </ol>
</nav>
