.terminal {
  background-color: #4b5563;
  padding: 1rem;
  border-radius: 10px;
  overflow-x: auto;

  &__command {
    color: #ffffff;
    white-space: nowrap;

    &::before {
      content: "> "
    }
  }
}
