.terminal {
  background-color: #4b5563;
  padding: 1rem;
  border-radius: 10px;
  overflow-x: auto;
  cursor: pointer;

  &__command {
    color: #ffffff;
    white-space: nowrap;

    &::before {
      content: "> "
    }
  }

  &:active {
    background-color: #424c59;
  }
}
