:host {
  ::ng-deep {
    .p-breadcrumb {
      margin: 1rem;
      padding: 0;

      &-list {
        padding: 1rem;
        overflow-x: auto;
      }
    }

    .p-menuitem-text {
      cursor: pointer;
    }
  }
}
