:host {
  ::ng-deep {
    .p-breadcrumb {
      padding: 0;
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;

      &-list {
        padding: 1rem;
        overflow-x: auto;
      }
    }

    .p-menuitem-text {
      cursor: pointer;
    }
  }
}
