.team {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 8em 4em;
  text-align: center;
  background-color: var(--darker-white-color);
}

.team-title {
  color: var(--gray-color);
  font-weight: lighter;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.person {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.person-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.person-avatar > img {
  width: 100%;
  border-radius: 10px;
}

.person-avatar > p {
  font-size: 1.5em;
  color: var(--gray-color);
}

.person-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.person-detail > p {
  color: var(--gray-color);
  line-height: 1.5em;
  text-align: left;
}

.person-social-media {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.person-social-media > a {
  color: var(--gray-color);
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .team-list {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .person {
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .team {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .team-list {
    width: 960px;
  }

  .person {
    width: 240px;
  }
}
