/* Mobile */
.documentation-nav {
  background-color: var(--white-darker-color);
}

.documentation-content {
  background-color: var(--white-darkerest-color);
  min-height: calc(100vh - var(--top-nav) - 400px);
  padding: 5em 2em;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .documentation-container {
    display: flex;
  }

  .documentation-nav {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 300px;
  }

  .documentation-content {
    flex: 1;
  }
}

/* Pc */
@media only screen and (min-width: 1024px) {
  .documentation-content-router {
    margin: auto;
    width: 720px;
  }
}
