/* Mobile */
.documentation-nav {
  background-color: var(--white-darker-color);
}

.documentation-content {
  padding: 3em 2em;
  background-color: var(--white-color);
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .documentation-container {
    display: flex;
  }

  .documentation-nav {
    flex: 1;
    border-bottom: none;
  }

  .documentation-content {
    flex: 3;
    padding: 2em 3em;
  }
}

/* Pc */
@media only screen and (min-width: 1024px) {
  .documentation-container {
    margin: auto;
    width: 960px;
  }
}
