<section class="docs">
  <div class="docs-content">
    <ng-container *ngFor="let section of content?.sections">
      <!-- Header h1 -->
      <ng-container *ngIf="section.type === 'firstLevelHeader'">
        <rw-header-smart [headerType]="'h1'" [headerValue]="section.value" [headerLink]="section.link"></rw-header-smart>
      </ng-container>
      <!-- Header h2 -->
      <ng-container *ngIf="section.type === 'secondLevelHeader'">
        <rw-header-smart [headerType]="'h2'" [headerValue]="section.value" [headerLink]="section.link"></rw-header-smart>
      </ng-container>
      <!-- Paragraph p -->
      <ng-container *ngIf="section.type === 'paragraph'">
        <repox-website-paragraph [value]="section.value"></repox-website-paragraph>
      </ng-container>
      <!-- Command code -->
      <ng-container *ngIf="section.type === 'command'">
        <rw-terminal-smart [content]="section.value"></rw-terminal-smart>
      </ng-container>
      <!-- Newline -->
      <ng-container *ngIf="section.type === 'newline'">
        <div class="docs-content__newline"></div>
      </ng-container>
      <!-- Array -->
      <ng-container *ngIf="section.type === 'arguments'">
        <repox-website-arguments [values]="section.value"></repox-website-arguments>
      </ng-container>
      <!-- Info -->
      <ng-container *ngIf="section.type === 'info'">
        <rw-info-message-smart [messages]="[section.value]"></rw-info-message-smart>
      </ng-container>
    </ng-container>
  </div>
</section>
