.docs {
  margin: auto;
  max-width: 720px;
}

.docs-content {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;

  &__header-h1 {
    color: #4b5563;
    margin: 0;
  }

  &__header-h1 {
    font-size: 2em;
  }

  &__newline {
    margin-bottom: 2rem;
  }
}
