<section class="docs">
  <div class="docs-content">
    <ng-container *ngFor="let section of content?.sections">
      <!-- Header h1 -->
      <ng-container *ngIf="section.type === 'h1'">
        <repox-website-h1 [value]="section.value"></repox-website-h1>
      </ng-container>
      <!-- Header h2 -->
      <ng-container *ngIf="section.type === 'h2'">
        <repox-website-h2 [value]="section.value"></repox-website-h2>
      </ng-container>
      <!-- Paragraph p -->
      <ng-container *ngIf="section.type === 'p'">
        <repox-website-paragraph [value]="section.value"></repox-website-paragraph>
      </ng-container>
      <!-- Command code -->
      <ng-container *ngIf="section.type === 'command'">
        <repox-website-terminal [command]="section.value"></repox-website-terminal>
      </ng-container>
      <!-- Newline -->
      <ng-container *ngIf="section.type === 'newline'">
        <div class="docs-content__newline"></div>
      </ng-container>
      <!-- Array -->
      <ng-container *ngIf="section.type === 'arguments'">
        <repox-website-arguments [values]="section.value"></repox-website-arguments>
      </ng-container>
    </ng-container>
  </div>
</section>
