:host {
  ::ng-deep {
    .p-panel-header,
    .p-panel-content {
      border-radius: 0;
    }

    .docs {
      margin: auto;
      max-width: 960px;

      &-content {
        &__header {
          .p-panel-content {
            display: none;
          }
        }

        &__comment {
          .p-panel-header {
            background-color: #ffffff;
          }

          .p-panel-title {
            font-weight: normal;
          }

          .p-panel-title::before {
            content: "> "
          }

          .p-panel-content {
            display: none;
          }
        }
      }
    }
  }
}

.docs-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
