/* Mobile */
.footer {
  background-color: var(--primary-dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  padding: 5em 1em;
}

.footer-nav-logo {
  cursor: pointer;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-nav-logo {
  margin-left: 0.5em;
  color: var(--white-darker-color);
}

.footer-copyright {
  width: 100%;
}

.footer-copyright > p {
  color: var(--white-darker-color);
  text-align: center;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .footer-nav {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-nav-logo {
    margin-top: 1em;
  }

  .footer-nav-columns {
    display: flex;
    gap: 1em;
  }
}

/* Pc */
@media only screen and (min-width: 1024px) {
  .footer {
    align-items: center;
    justify-content: center;
  }

  .footer-nav {
    width: 940px;
  }
}
