/* Mobile */
.footer {
  padding: 3em 0;
  background-color: var(--white-darker-color);
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-nav-logo {
  margin-left: 0.5em;
  color: var(--primary-color);
}

.footer-copyright > p {
  color: var(--grey-color);
  text-align: center;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .footer-nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .footer-nav-columns {
    display: flex;
    gap: 1em;
  }
}

/* Pc */
@media only screen and (min-width: 1024px) {
  .footer {
    align-items: center;
    justify-content: center;
  }

  .footer-nav {
    width: 960px;
  }
}

/* 4K */
@media only screen and (min-width: 2560px) {
  .footer-nav {
    width: 1024px;
  }
}
