<footer class="footer">
  <div class="footer-nav">
    <repox-website-nav
      [navTitle]="docsNavTitle"
      [navListItems]="docsNavListItems"
      [navClass]="docsClass"
    ></repox-website-nav>
    <repox-website-nav
      [navTitle]="docsNavTitle"
      [navListItems]="docsNavListItems"
      [navClass]="docsClass"
    ></repox-website-nav>
    <repox-website-nav
      [navTitle]="docsNavTitle"
      [navListItems]="docsNavListItems"
      [navClass]="docsClass"
    ></repox-website-nav>
  </div>
  <div class="footer-copyright">
    <p>Copyright © 2023-2024 Jakub Olejarczyk</p>
  </div>
</footer>
