<footer class="footer">
  <div class="footer-nav">
    <h1 class="footer-nav-logo">Repox</h1>
    <div class="footer-nav-columns">
      <repox-website-nav
        [navTitle]="teamNavTitle"
        [navListItems]="teamNavListItems"
        [navClass]="footerClass"
      ></repox-website-nav>
      <repox-website-nav
        [navTitle]="exploreMediaNavTitle"
        [navListItems]="exploreNavListItems"
        [navClass]="footerClass"
      ></repox-website-nav>
      <repox-website-nav
        [navTitle]="socialMediaNavTitle"
        [navListItems]="socialMediaNavListItems"
        [navClass]="footerClass"
      ></repox-website-nav>
    </div>
  </div>
  <div class="footer-copyright">
    <p>{{copyright}}</p>
  </div>
</footer>
