/* variables */
:root {
    --top-nav-height: 3em;
    --primary-color: #373737;
    --primary-color25: #37373725;
    --secondary-color: #E1E1E1;
    --secondary-color25: #E1E1E125;
    --secondary-color95: #E1E1E195;
    --white-color: #F5F5F5;
    --animation-speed: 0.5s;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* general */
@media screen and (max-width: 300px) {
    body {
        font-size: 5vw;
    }
}

@media screen and (min-width: 2560px) {
    body {
        font-size: 125%;
    }
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--secondary-color);
}

.hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: var(--top-nav-height);
    height: var(--top-nav-height);
    padding: 0.5em;
    overflow: hidden;
}

.hamburger-line {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--secondary-color);
    transition: transform var(--animation-speed) ease-in-out;
}

.hamburger-open .hamburger-line-top {
    transform: translateY(0.67em) rotate(45deg);
}

.hamburger-open .hamburger-line-middle {
    transform: translateX(100vw);
}

.hamburger-open .hamburger-line-bottom {
    transform: translateY(-0.67em) rotate(-45deg);
}

@media only screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }
}

main {
    padding-top: var(--top-nav-height);
}

/* top nav */
.top-nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--primary-color);
    height: var(--top-nav-height);
    z-index: 1;
}

.top-nav-logo {
    width: var(--top-nav-height);
    padding: 0.5em;
}

.top-nav-menu {
    position: absolute;
    z-index: 2;
    top: var(--top-nav-height);
    width: 100%;
    height: calc(100vh - var(--top-nav-height));
    transform: translateX(-100%);
    overflow-y: auto;
    background-color: var(--primary-color);
    transition: transform var(--animation-speed) ease-in-out;
}

.top-nav-menu > li:first-child {
    border-top: 1px solid var(--secondary-color25);
}

.hamburger-open .top-nav-menu {
    transform: translateX(0%);
}

.top-nav-menu-link {
    display: block;
    padding: 1em;
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color25);
}

@media only screen and (min-width: 768px) {
    .top-nav-menu {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(0);
        width: auto;
        height: var(--top-nav-height);
        transition: none;
        gap: 0.25em;
        background-color: inherit;
    }

    .top-nav-menu > li:first-child {
        border-top: none;
    }

    .top-nav-menu-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--top-nav-height);
        color: var(--secondary-color95);
        border-bottom: none;
        transition: color var(--animation-speed) ease-in-out, background-color var(--animation-speed) ease-in-out;
    }

    .top-nav-menu-link:active,
    .top-nav-menu-link:hover {
        color: var(--secondary-color);
        background-color: var(--secondary-color25);
    }
}

@media only screen and (min-width: 1024px) {
    .top-nav {
        justify-content: space-around;
    }
}

/* documentation */
.documentation-nav {
    position: fixed;
    top: var(--top-nav-height);
    width: 75%;
    height: calc(100vh - var(--top-nav-height));
    background-color: var(--white-color);
    transform: translateX(-100%);
    transition: transform var(--animation-speed) ease-in-out;
}

.hamburger-open .documentation-nav {
    transform: translateX(0%);
}

.documentation-nav .hamburger {
    position: absolute;
    top: 0;
    right: calc(0px - var(--top-nav-height));
    background-color: var(--white-color);
}

.documentation-nav .hamburger-line {
    background-color: var(--primary-color);
}

.documentation-nav-menu {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.documentation-nav-menu ul > li {
    margin-left: 1em;
}

.documentation-nav-menu a {
    display: block;
    padding: 0.9em;
    color: var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
}

.documentation-content {
    margin-left: var(--top-nav-height);
    padding: 1em;
}