/* variables */
:root {
    --top-nav-height: 3em;
    --primary-color: #373737;
    --primary-color25: #37373725;
    --secondary-color: #E1E1E1;
    --secondary-color25: #E1E1E125;
    --secondary-color95: #E1E1E195;
    --body-color: #f0f0f0;
    --animation-speed: 0.5s;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* general */
@media screen and (max-width: 300px) {
    body {
        font-size: 5vw;
    }
}

@media screen and (min-width: 2560px) {
    body {
        font-size: 125%;
    }
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--body-color);
}

.hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: var(--top-nav-height);
    height: var(--top-nav-height);
    padding: 0.5em;
    overflow: hidden;
}

.hamburger-line {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--secondary-color);
    transition: transform var(--animation-speed) ease-in-out;
}

.hamburger-open .hamburger-line-top {
    transform: translateY(0.67em) rotate(45deg);
}

.hamburger-open .hamburger-line-middle {
    transform: translateX(100vw);
}

.hamburger-open .hamburger-line-bottom {
    transform: translateY(-0.67em) rotate(-45deg);
}

@media only screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }
}

main {
    padding-top: var(--top-nav-height);
}

/* top nav */
.top-nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--primary-color);
    height: var(--top-nav-height);
    z-index: 1;
}

.top-nav-logo {
    width: var(--top-nav-height);
    padding: 0.5em;
}

.top-nav-menu {
    position: absolute;
    z-index: 2;
    top: var(--top-nav-height);
    width: 100%;
    height: calc(100vh - var(--top-nav-height));
    transform: translateX(-100%);
    overflow-y: auto;
    background-color: var(--primary-color);
    transition: transform var(--animation-speed) ease-in-out;
}

.top-nav-menu > li:first-child {
    border-top: 1px solid var(--secondary-color25);
}

.hamburger-open .top-nav-menu {
    transform: translateX(0%);
}

.top-nav-menu-link {
    display: block;
    padding: 1em;
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color25);
}

@media only screen and (min-width: 768px) {
    .top-nav-menu {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(0);
        width: auto;
        height: var(--top-nav-height);
        transition: none;
        gap: 0.25em;
        background-color: inherit;
    }

    .top-nav-menu > li:first-child {
        border-top: none;
    }

    .top-nav-menu-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--top-nav-height);
        color: var(--secondary-color95);
        border-bottom: none;
        transition: color var(--animation-speed) ease-in-out, background-color var(--animation-speed) ease-in-out;
    }

    .top-nav-menu-link:active,
    .top-nav-menu-link:hover {
        color: var(--secondary-color);
        background-color: var(--secondary-color25);
    }
}

@media only screen and (min-width: 1024px) {
    .top-nav {
        justify-content: space-around;
    }
}

/* documentation nav */
.documentation-nav {
    position: fixed;
    top: var(--top-nav-height);
    width: 100%;
    height: var(--top-nav-height);
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
}

.documentation-nav .hamburger-line {
    background-color: var(--primary-color);
}

.documentation-title {
    color: var(--primary-color);
    margin: 0.5em;
}

.documentation-nav-menu {
    position: fixed;
    top: calc(2 * var(--top-nav-height));
    width: 100%;
    height: calc(100vh - 2 * var(--top-nav-height));
    background-color: var(--secondary-color);
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform var(--animation-speed) ease-in-out;
}

.hamburger-open .documentation-nav-menu {
    transform: translateX(0);
}

.documentation-nav-menu a {
    display: block;
    padding: 0.9em;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color25);
}

.documentation-nav-menu ul > li > a::before {
    content: "";
    margin-left: 1em;
}

/* documentation content */
.documentation-content {
    margin-top: var(--top-nav-height);
}

.documentation-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    color: var(--primary-color);
}

.documentation-content-wrapper h1 {
    font-size: 1.5em;
}

.documentation-content-wrapper p {
    line-height: 1.75;
}

.documentation-content-wrapper h2 {
    font-size: 1.25em;
}

.documentation-content-wrapper code {
    margin: 1em 0;
    padding: 2em;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    white-space: nowrap;
    overflow-x: auto;
    border-radius: 0.5em;
}

.documentation-content-wrapper ul {
    margin: 1em 0;
    padding-left: 1.5em;
    list-style-type: disc;
}

.documentation-content-wrapper li {
    padding: 0.3em;
}

.documentation-content-wrapper table {
    margin: 1em 0;
    border-collapse: collapse;
}

.documentation-content-wrapper table,
.documentation-content-wrapper th,
.documentation-content-wrapper td {
    border: 1px solid var(--primary-color);
}

.documentation-content-wrapper th,
.documentation-content-wrapper td {
    padding: 0.5em;
}

.documentation-content-wrapper th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}