/* You can add global styles to this file, and also import other style files */

/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* Variables */
:root {
  --top-nav: 4em;
  --primary-color: #547AA5;
  --primary-dark-color: #496A8F;
  --primary-darker-color: #436386;
  --white-color: #f0f0f0;
  --white-darker-color: #ebebeb;
  --white-darkerest-color: #dcdcdc;
  --grey-color: #464646;
  --grey-light-color: #5a5a5a;
  --black-color: #323232;
  --animation-speed: 0.25s;
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

ul, ol {
  list-style: none;
}

/* General */
@media only screen and (max-width: 300px) {
  body {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 2560px) {
  body {
    font-size: 150%;
  }
}
