/* You can add global styles to this file, and also import other style files */

/* variables */
:root {
  --top-nav-height: 4em;
  --primary-color: #6F2DBD;
  --white-color: #FFFFFF;
  --light-gray-color: #F5F5F5;
  --black-color: #191919;
  --gray-color: #4B4B4B;
  --white-color25: #FFFFFF25;
  --animation-speed: 0.25s;
  /*--primary-color25: #254E7025;*/
  /*--secondary-color: #E1E1E1;*/
  /*--secondary-color25: #E1E1E125;*/
  /*--secondary-color95: #E1E1E195;*/
  /*--body-color: #f0f0f0;*/
  /*--black-font-color: #373737;*/
  /*--black-font-color25: #37373725;*/
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* general */
@media screen and (max-width: 300px) {
  body {
    font-size: 5vw;
  }
}

@media screen and (min-width: 2560px) {
  body {
    font-size: 125%;
  }
}

body {
  background-color: rgb(245, 245, 245);
}
