/* Mobile */
.header {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  padding: 5em 2em 8em 2em;
  position: relative;
}

.header-logo {
  display: block;
  width: 50%;
}

.header-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-motto {
  text-align: center;
  color: var(--white-color);
  font-size: 1.5em;
}

.header-link {
  position: absolute;
  bottom: -1.5em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  display: block;
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--white-color);
  padding: 1em 2em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 0.25em;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .header {
    flex-direction: row;
  }

  .header-logo {
    width: 15em;
  }

  .header-detail {
    gap: 2em;
  }

  .header-link {
    position: static;
    bottom: 0;
    box-shadow: none;
  }
}

