/* Mobile */
.statistics-container {
  background: var(--primary-color);
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 5em 2em;
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.statistic-value,
.statistic-description {
  text-align: center;
  color: var(--white-color);
}

.statistic-value {
  font-size: 2em;
  font-weight: bold;
}

.statistic-description {
  font-size: 1em;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .statistics {
    flex-direction: row;
  }

  .statistic {
    flex: 1;
  }
}

/* Pc */
@media only screen and (min-width: 1024px) {
  .statistics-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .statistics {
    width: 960px;
  }
}
